// @import 'libs/normalize';
// @import 'libs/bootstrap-reboot';
// @import 'libs/reset';
// @import 'libs/font';
// @import 'base/variables';
@import "base/mygrid";

// Bootstrap's Reboot
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/reboot";

//&display=swap
//&subset=cyrillic-ext
// @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
// $fontFamily: "Heebo";


// --------------------------------------------------------------------------------------
// Reboot
// --------------------------------------------------------------------------------------
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

// Вспомогательный класс для отрисовки блоков в сетке. Позволяет делать схематичные макеты
.block {
    background-color: #ddd;
    border: 1px solid #aaa;
    padding: 20px;
    text-align: center;
    height: 100%;
}


// --------------------------------------------------------------------------------------
// Grid
// --------------------------------------------------------------------------------------
.container {
    @include make-container();
    @include make-max-width-container();
}

.row {
    @include make-row();
    --bs-gutter-y: 1rem;

    & > * {
        @include make-col-ready();
    }
}


// --------------------------------------------------------------------------------------
// My classes
// --------------------------------------------------------------------------------------
.header {
    @extend .row;
    min-height: 60px;
    margin-bottom: 70px;

    @include media-breakpoint-up(md) {
        &__logo {
            @include make-col(3);
        }
    
        &__nav {
            @include make-col(9);
        }
    }
}

.promo {
    @extend .row;
    min-height: 250px;
    margin-bottom: 70px;

    @include media-breakpoint-up(md) {
        &__item {
            @include make-col(6);
        }
    }
}

.clients {
    @extend .row;
    min-height: 60px;
    margin-bottom: 70px;

    @include media-breakpoint-up(sm) {
        &__item {
            @include make-col(6);
        }
    }

    @include media-breakpoint-up(md) {
        &__item {
            @include make-col(4);
        }
    }

    @include media-breakpoint-up(lg) {
        &__item {
            @include make-col(2);
        }
    }
}

.pricing {
    @extend .row;
    min-height: 250px;
    margin-bottom: 70px;

    @include media-breakpoint-up(md) {
        &__item {
            @include make-col(4);
        }
    }
}

.team {
    @extend .row;
    min-height: 250px;
    margin-bottom: 70px;

    @include media-breakpoint-up(md) {
        &__item {
            @include make-col(6);
        }
    }

    @include media-breakpoint-up(lg) {
        &__item {
            @include make-col(3);
        }
    }
}

.footer {
    @extend .row;
    min-height: 250px;
    margin-bottom: 70px;

    @include media-breakpoint-up(md) {
        &__social {
            @include make-col(6);
        }
    
        &__contact {
            @include make-col(6);
        }
    
        &__form {
            @include make-col(12);
        }
    }

    @include media-breakpoint-up(lg) {
        &__social {
            @include make-col(4);
        }
    
        &__contact {
            @include make-col(3);
        }
    
        &__form {
            @include make-col(5);
        }
    }
}